<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AwesomeImage</title>
    </head>
    <body>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </body>
</html>
