<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AwesomeImage</title>

        <script>
            UPLOADCARE_LIVE = false;
            UPLOADCARE_IMAGES_ONLY = true;
            UPLOADCARE_CROP = 'free';
        </script>

        {{ app.uploadcare.widget.getScriptTag | raw }}
    </head>
    <body>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </body>
</html>
